<div class="container-fluid box-header position-fixed z-index-1000">
    <div class=" sub-container d-flex justify-content-center align-items-center">
        <div class="lines-header borders-cero-l-r-b switch"></div>
        <div class="container-circle d-flex justify-content-center align-items-center switch">
            <div class="circle-header"></div>
        </div>
        <div class="lines-header borders-cero-l-r-b switch"></div>
    </div>
    <nav class=" row justify-content-center menu-header invisible ">
        <div class=" col-sm-11 col-lg-10 col-xl-8 col-xxl-6 navegation-header d-flex justify-content-between">
            <ul class=" main-list-header d-flex align-items-center gap-4 "> 
                <li class="">
                    <a href="#" class="color-option d-flex justify-content-center text-decoration-none">
                        About me
                    </a>
                </li>
                <li>
                    <ul class="navbar-nav show-to-learn ">
                        <li class="nav-item dropdown">
                        <button class="btn dropdown-toggle border-color-transparent content-to-learn line-underline " data-bs-toggle="dropdown" aria-expanded="false">
                            To learn 
                        </button>
                        <ul class="dropdown-menu dropdown-menu-dark dropdown-to-learn">
                            <li><a class="dropdown-item" href="#">Cibersecurity</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>
                        </li>
                    </ul>               
                </li>
                <li class="line-underline">
                    <a href="#" class="text-decoration-none color-black ">Words</a>
                </li>
                <li> 
                    <ul class="navbar-nav show-others">
                        <li class="nav-item dropdown">
                        <button class="btn dropdown-toggle border-color-transparent content-others line-underline" data-bs-toggle="dropdown" aria-expanded="false">
                            Others
                        </button>
                        <ul class="dropdown-menu dropdown-menu-dark dropdown-others ">
                            <li><a class="dropdown-item" href="#">Phrases</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>
                        </li>
                    </ul>    
                </li>   
            </ul>
            <ul class="secondary-list-header d-flex align-items-center justify-content-end gap-4">
                <li class="line-underline">
                    <a href="#" class="text-decoration-none color-black">About </a>
                </li>
            </ul>
        </div>
    </nav>
</div>
<nav class="header-cell-phone d-flex justify-content-between align-items-center ">
    <ul>
        <li>
            <a href="#">About me</a>        
        </li>
    </ul>
    <span class="menu-navegation">|||</span>
</nav>