*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* widths */
.w-full{
    width: 100%;
}

/* heigths */
.h-full{
    height: 100%;
}


/* borders */

.borders-cero-l-r-b{
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
}

/* border-color */

.border-color-transparent{
    border-color:transparent!important;
}

/* list */

ol, ul{
    list-style: none;
}

/* select */

.box-transparent{
    background-color: transparent;
    border: transparent;
}

/* colors */
.color-black{
    color: black;
}

/* backgraound */
.background-c-gray-102{
    background-color: rgb(102 102 102)!important;
}


/* padding */

.pt-50px{
    padding-top:50px;
}

.pt-100px{
    padding-top: 100px!important;
}


/* z-index */
.z-index-1000{
    z-index: 1000;
}

/* text-decoration */

.text-decoration-underline{
    text-decoration: underline;
}
