*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* widths */

.w-full{
    width: 100%;
}

/* heigths */
.h-full{
    height: 100%;
}

/* borders */

.borders-cero-l-r-b{
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
}

/* border-color */

.border-color-transparent{
    border-color:transparent!important;
}

/* list */

.list-style-none{
    list-style: none;
}

/* select */

.box-transparent{
    background-color: transparent;
    border: transparent;
}

/* colors */

.color-black{
    color: black;
}
.color-white{
    color: white;
}
.color-black-important{
    color: black!important;
}
/* backgraound */

.background-c-gray-102{
    background-color: rgb(102 102 102)!important;
}

/* padding */

.pt-100px{
    padding-top: 100px!important;
}

.pl-0_75rem{
    padding-left: 0.75rem;
}
.pl-6px{
    padding-left: 6px;
}
/* margin */

.mt-60px{
    margin-top: 60px;
}
/* z-index */

.z-index-1000{
    z-index: 1000;
}

/* text-decoration */

.text-decoration-underline{
    text-decoration: underline;
}
.text-decoration-none{
    text-decoration: none;
}

/* height */

.h-35px{
    height: 35px;
}

/* changes of bootstrapt */
ol, ul {
    padding-left: 0rem;

}

/* properties for all pages*/

body{
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
}