<li class="list-style-none btn-learn dropdown-parent" >
    <div class="d-flex align-items-center content-to-learn {% if page.url contains '/to-learn/' %} color-option {% endif %} ">
        <i class="material-icons i-to-learn-expand-more">expand_more</i>
        <button class="box-transparent {% if page.url contains '/to-learn/' %} color-white {% endif %} ">
             To learn
        </button>
    </div>
    <div class="hidden-box show-to-learn ">
        <div class="dropdown-to-learn dropdown-base">
            <ul class="category-one list-style-none d-flex flex-column justify-content-center">
                <li>
                    <h5 class=""><b>Seguridad informática</b></h5>
                </li>
                <li class="d-flex align-items-center gap-3 ms-pl-10px">
                    <img src="https://murasaki-dbd90.web.app/images/icons-articles/folder.webp" class="icon-article"  alt="Icono">
                    <ul class="pl-0 list-style-none ">
                        <li class="dropdow-option ">
                            <a {% unless page.url == '/to-learn/cibersecurity/' %} href="/to-learn/cibersecurity" {% endunless %} 
                            class="{% if page.url == '/to-learn/cibersecurity/' %} text-decoration-underline color-black-important {% endif %}">
                                Ciberseguridad.
                            </a>
                        </li>
                        <li class="dropdow-option ">
                            <a {% unless page.url == '/to-learn/#/' %} href="/to-learn/#" {% endunless %} 
                                class="{% if page.url == '/to-learn/#/' %} text-decoration-underline color-black-important {% endif %}">
                                Tipos de ciberataques.
                            </a>
                        </li>
                        <li class="dropdow-option ">
                            <a {% unless page.url == '/to-learn/#/' %} href="/to-learn/#" {% endunless %} 
                                class="{% if page.url == '/to-learn/#/' %} text-decoration-underline color-black-important {% endif %}">
                                El poder de ingeniería social.
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
            <ul class="category-two list-style-none d-flex flex-column justify-content-center  ">
                <li>
                    <h5 class=""><b>Comida</b></h5>
                </li>
                <li class="d-flex align-items-center gap-3 ms-pl-10px">
                    <img src="https://murasaki-dbd90.web.app/images/icons-articles/salad.webp" class="icon-article"  alt="Icono">
                    <ul class=" list-style-none  pl-0">
                        <li class="dropdow-option ">
                            <a {% unless page.url == '/to-learn/#/' %} href="/to-learn/#" {% endunless %} 
                            class="{% if page.url == '/to-learn/#/' %} text-decoration-underline color-black-important {% endif %}">
                                El secreto de la abuela.
                            </a>
                        </li>
                        <li class="dropdow-option ">
                            <a href="#">Lorem ipsum dolor sit, amet.</a>
                        </li>
                        <li class="dropdow-option ">
                            <a href="#">Lorem ipsum dolor sit, amet.</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <ul class="category-three list-style-none d-flex flex-column justify-content-center  ">
                <li>
                    <h5 class=""><b>Universo</b></h5>
                </li>
                <li class="d-flex align-items-center gap-3 ms-pl-10px">
                    <img src="https://murasaki-dbd90.web.app/images/icons-articles/astronomy.webp" class="icon-article"  alt="Icono">
                    <ul class=" list-style-none  pl-0">
                        <li class="dropdow-option ">
                            <a {% unless page.url == '/to-learn/#/' %} href="/to-learn/#" {% endunless %} 
                                class="{% if page.url == '/to-learn/#/' %} text-decoration-underline color-black-important {% endif %}">
                                ¿Estamos solos?
                            </a>
                        </li>
                        <li class="dropdow-option ">
                            <a {% unless page.url == '/to-learn/#/' %} href="/to-learn/#" {% endunless %} 
                                class="{% if page.url == '/to-learn/#/' %} text-decoration-underline color-black-important {% endif %}">
                                El planeta Rojo.
                            </a>
                        </li>
                        <li class="dropdow-option ">
                            <a {% unless page.url == '/to-learn/#/' %} href="/to-learn/#" {% endunless %} 
                                class="{% if page.url == '/to-learn/#/' %} text-decoration-underline color-black-important {% endif %}">
                                Lorem ipsum dolor sit, amet.
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
            <ul class="category-four list-style-none d-flex flex-column justify-content-center ">
                <li>
                    <h5 class=""><b>Herramientas</b></h5>
                </li>
                <li class="d-flex align-items-center gap-3">
                    <img src="https://murasaki-dbd90.web.app/images/icons-articles/settings.webp" class="icon-article"  alt="Icono">
                    <ul class=" list-style-none  pl-0">
                        <li class="dropdow-option ">
                            <a {% unless page.url == '/to-learn/#/' %} href="/to-learn/#" {% endunless %} 
                                class="{% if page.url == '/to-learn/#/' %} text-decoration-underline color-black-important {% endif %}">
                                Lorem ipsum dolor sit, amet.
                            </a>
                        </li>
                        <li class="dropdow-option ">
                            <a {% unless page.url == '/to-learn/#/' %} href="/to-learn/#" {% endunless %} 
                                class="{% if page.url == '/to-learn/#/' %} text-decoration-underline color-black-important {% endif %}">
                                Lorem ipsum dolor sit, amet.
                            </a>
                        </li>
                        <li class="dropdow-option ">
                            <a {% unless page.url == '/to-learn/#/' %} href="/to-learn/#" {% endunless %} 
                                class="{% if page.url == '/to-learn/#/' %} text-decoration-underline color-black-important {% endif %}">
                                Lorem ipsum dolor sit, amet.
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
            <ul class="category-five list-style-none d-flex flex-column justify-content-center ">
                <li>
                    <h5 class=""><b>Juegos</b></h5>
                </li>
                <li class="d-flex align-items-center gap-3">
                    <img src="https://murasaki-dbd90.web.app/images/icons-articles/board-game.webp" class="icon-article"  alt="Icono">
                    <ul class=" list-style-none pl-0">
                        <li class="dropdow-option ">
                            <a {% unless page.url == '/to-learn/#/' %} href="/to-learn/#" {% endunless %} 
                                class="{% if page.url == '/to-learn/#/' %} text-decoration-underline color-black-important {% endif %}">
                                Juegos offiline recomendados.
                            </a>
                        </li>
                        <li class="dropdow-option ">
                            <a {% unless page.url == '/to-learn/#/' %} href="/to-learn/#" {% endunless %} 
                                class="{% if page.url == '/to-learn/#/' %} text-decoration-underline color-black-important {% endif %}">
                                Lorem ipsum dolor sit, amet.
                            </a>
                        </li>
                        <li class="dropdow-option ">
                            <a {% unless page.url == '/to-learn/#/' %} href="/to-learn/#" {% endunless %} 
                                class="{% if page.url == '/to-learn/#/' %} text-decoration-underline color-black-important {% endif %}">
                                Lorem ipsum dolor sit, amet.
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
            <ul class="category-six list-style-none d-flex flex-column justify-content-center "> 
                <li>
                    <h5 class=""><b>Agricultura</b></h5>
                </li>
                <li class="d-flex align-items-center gap-3">
                    <img src="https://murasaki-dbd90.web.app/images/icons-articles/sustainable-agriculture.webp" class="icon-article"  alt="Icono">
                    <ul class=" list-style-none pl-0">
                        <li class="dropdow-option ">
                            <a {% unless page.url == '/to-learn/#/' %} href="/to-learn/#" {% endunless %} 
                                class="{% if page.url == '/to-learn/#/' %} text-decoration-underline color-black-important {% endif %}">
                                Saber el ph de la tierra.
                            </a>
                        </li>
                        <li class="dropdow-option ">
                            <a {% unless page.url == '/to-learn/#/' %} href="/to-learn/#" {% endunless %} 
                                class="{% if page.url == '/to-learn/#/' %} text-decoration-underline color-black-important {% endif %}">
                                Lorem ipsum dolor sit, amet.
                            </a>
                        </li>
                        <li class="dropdow-option ">
                            <a {% unless page.url == '/to-learn/#/' %} href="/to-learn/#" {% endunless %} 
                                class="{% if page.url == '/to-learn/#/' %} text-decoration-underline color-black-important {% endif %}">
                                Lorem ipsum dolor sit, amet.
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</li>
<li class="list-style-none line-underline a-option" >
    <a {% unless page.url == '/words/' %} href="/words" {% endunless %} class="text-decoration-none color-black {% if page.url == '/words/'  %} color-option  {% endif %}">Words</a>
</li>
<li class="list-style-none line-underline a-option">
    <a {% unless page.url == '/phrases/' %} href="/phrases" {% endunless %}  class="text-decoration-none color-black {% if page.url == '/phrases/' %} color-option {% endif %}" >Phrases</a>
</li>
<li class="list-style-none dropdown-parent" >
    <div class="d-flex align-items-center content-others {% if page.url contains '/others/' %} color-option {% endif %}">
        <i class="material-icons i-others-expand-more  ">expand_more</i>
        <button class="box-transparent  {% if page.url contains '/others/' %} color-white {% endif %}">
            Others
        </button>
    </div>
    <div class="hidden-box show-others">
        <ul class="list-style-none dropdown-others dropdown-base" >
            
            <li class="dropdow-option px-3">
                <a href="#">Configuracion</a>
            </li>
            <li class="dropdow-option px-3">
                <a href="#">Creditos</a>
            </li>
            <li class="dropdow-option px-3">
                <a href="#">lorem lorem lorem</a>
            </li>
            <li class="dropdow-option px-3">
                <a href="#">lorem lorem lorem</a>
            </li>
            <li class="dropdow-option px-3">
                <a href="#">lorem lorem lorem</a>
            </li>
            <li class="dropdow-option px-3">
                <a href="#">lorem lorem lorem</a>
            </li>

        </ul>
    </div>
</li>
