<li class="list-style-none btn-learn" >
    <button class="box-transparent {% if page.url contains '/to-learn/' %} color-option {% endif %} content-to-learn ">
        To learn
    </button>
    <ul class="dropdown-to-learn dropdown-base show-to-learn" >
        <li class="dropdow-option px-3 ">
            <a {% unless page.url == '/to-learn/cibersecurity/' %} href="/to-learn/cibersecurity" {% endunless %} class="{% if page.url == '/to-learn/cibersecurity/' %} text-decoration-underline color-black-important {% endif %}">Cibersecurity</a>
        </li>
        <li class="dropdow-option px-3">
            <a href="#">other option</a>
        </li>
        <li class="dropdow-option px-3">
            <a href="#">other option</a>
        </li>
    </ul>
</li>

<li class="list-style-none line-underline" >
    <a {% unless page.url == '/words/' %} href="/words" {% endunless %} class="text-decoration-none color-black {% if page.url == '/words/'  %} d-block color-option  {% endif %}">Words</a>
</li>

<li class="list-style-none" >
    <button class="box-transparent {% if page.url contains '/others/' %} color-option {% endif %} content-others">
        Others
    </button>
    <ul class=" dropdown-others  dropdown-base show-others" >
        <li class="dropdow-option px-3 ">
            <a {% unless page.url == '/others/phrases/' %} href="/others/phrases" {% endunless %} class="{% if page.url == '/others/phrases/' %} text-decoration-underline color-black-important {% endif %}">Phrases</a>
        </li>
        <li class="dropdow-option px-3">
            <a href="#">other option</a>
        </li>
        <li class="dropdow-option px-3">
            <a href="#">other option</a>
        </li>
        <li class="dropdow-option px-3">
            <a href="#">other option</a>
        </li>
    </ul>
</li>
